body {
    background-color: rgb(148, 122, 8);
    color: rgb(84, 143, 199);
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    color: rgb(84, 143, 199);
}

p {
    color: rgb(84, 143, 199);
}
